<form
  (ngSubmit)="addUser()"
  class="p-6 bg-white rounded-lg shadow-md max-w-lg mx-auto space-y-4"
>
  <div>
    <label for="firstName" class="block text-sm font-medium text-gray-700"
      >First Name</label
    >
    <input
      id="firstName"
      [(ngModel)]="user.firstName"
      name="firstName"
      type="text"
      class="form-input mt-1 mb-1 block w-full border-gray-300 rounded-md shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50 py-2 px-3"
      required
    />
  </div>

  <div>
    <label for="lastName" class="block text-sm font-medium text-gray-700"
      >Last Name</label
    >
    <input
      id="lastName"
      [(ngModel)]="user.lastName"
      name="lastName"
      type="text"
      class="form-input mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50 py-2 px-3"
      required
    />
  </div>

  <div>
    <label for="username" class="block text-sm font-medium text-gray-700"
      >Username</label
    >
    <input
      id="username"
      [(ngModel)]="user.username"
      name="username"
      type="text"
      class="form-input mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50 py-2 px-3"
      required
    />
  </div>

  <div class="flex items-center space-x-2 mt-2 mb-2">
    <input
      id="isAdmin"
      [(ngModel)]="user.isAdmin"
      name="isAdmin"
      type="checkbox"
      class="toggle toggle-primary"
    />
    <label for="isAdmin" class="text-sm font-medium text-gray-700"
      >Is Admin</label
    >
  </div>

  <div>
    <label for="department" class="block text-sm font-medium text-gray-700"
      >Department</label
    >
    <select
      id="department"
      [(ngModel)]="user.department"
      name="department"
      class="form-select mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50 py-2 px-3"
      required
    >
      <option value="Marketing">Marketing</option>
      <option value="Management">Management</option>
      <option value="Maintenance">Maintenance</option>
    </select>
  </div>

  <button
  type="submit"
  class="btn btn-primary py-1.5 px-4 rounded-md shadow-sm text-white font-semibold text-sm hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500"
  [disabled]="isSubmitting"
>
  Add User
</button>

</form>
