<div class="overflow-x-auto p-6 bg-gray-50">
  <table class="table w-full border-collapse border border-gray-300 shadow-lg rounded-md bg-white">
    <thead class="bg-indigo-800 text-white">
      <tr>
        <th class="border-b border-gray-300 px-6 py-3 text-left font-semibold text-base">First Name</th>
        <th class="border-b border-gray-300 px-6 py-3 text-left font-semibold text-base">Last Name</th>
        <th class="border-b border-gray-300 px-6 py-3 text-left font-semibold text-base">Department</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users$ | async" [ngClass]="{'bg-yellow-200': user.isAdmin}">
        <td class="border-b border-gray-300 px-6 py-4">
          <a [routerLink]="['/details', user.id]" class="text-black hover:underline font-medium">{{ user.firstName }}</a>
        </td>
        <td class="border-b border-gray-300 px-6 py-4">
          <a [routerLink]="['/details', user.id]" class="text-black hover:underline font-medium">{{ user.lastName }}</a>
        </td>
        <td class="border-b border-gray-300 px-6 py-4">
          <span class="bg-gray-100 text-black px-2 py-1 rounded-full text-sm font-medium">{{ user.department }}</span>
        </td>
      </tr>
    </tbody>
  </table>
</div>